@{
    ViewData["Title"] = "ConfirmForgotPasswordInfo";
    Layout = "~/Views/Shared/_LayoutSecurity.cshtml";
}

<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">

    <div class="m-t-40 card-box">
        <div class="text-center">
            <a href="/Home/Index" class="logo"><span>Test<span>Project</span></span></a>
        </div>
        <div class="panel-body text-center">
            <img src="/assets/images/mail_confirm.png" alt="img" class="thumb-lg m-t-20 center-block" />
            <p class="text-muted font-13 m-t-20"><b>@TempData["email"]</b> adresinize şifre değişikliği aktivasyonu için bir e-mail gönderilmiştir. Mailinizi kontrol ediniz ve aktivasyon linki ile sitemize tekrar ulaşınız. </p>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="text-muted"><a href="/Security/Login" class="text-primary m-l-5"><b>Giriş Yap</b></a></p>
            </div>
        </div>
    </div>
</div>
<!-- end wrapper page -->
